<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/destyle.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>投稿情報一覧</title>
</head>

<body>
  <div class="main-container">
    <% if (flashMessages) { %>
      <% if (flashMessages.msg) { %>
        <div class="alert">
          <p class="alert-danger"><%= flashMessages.msg %></p>
        </div>
      <% } %>
    <% } %>
    <ul>
      <% if (posts) { %>
      <%  posts.forEach( post => { %>
      <li>
        <a class="btn" href="post/<%= post.id %>">
          <%= post.title %> 追加年月日：<%= post.ymd_add %>　更新年月日：<%= post.ymd_upd %>
        </a>
      </li>
      <%  }) %>
      <% } %>
    </ul>
    <div class="btn-footer">
      <a class="btn-link" href="post/">新規登録</a>
    </div>
    <div class="btn-footer">
      <a href="/" class="btn-link">戻る</a>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% } %>
      </div>
  </div>
</body>

</html>