<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/destyle.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>ユーザー情報一覧</title>
</head>

<body>
  <div class="main-container">
    <% if (flashMessages) { %>
      <% if (flashMessages.msg) { %>
        <div class="alert">
          <p class="alert-danger"><%= flashMessages.msg %></p>
        </div>
      <% } %>
    <% } %>
    <ul>
      <% if (users) { %>
      <%  users.forEach( user => { %>
      <li>
        <a class="btn" href="user/<%= user.id %>/<%= user.ymd_end %>">
          <%= user.name %>（<%= user.id %>） 適用開始：<%= user.ymd_start %>　適用終了：<%= user.ymd_end %>
        </a>
      </li>
      <%  }) %>
      <% } %>
    </ul>
    <div class="btn-footer">
      <a class="btn-link" href="user/">新規登録</a>
    </div>
    <div class="btn-footer">
      <a href="/" class="btn-link">戻る</a>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% } %>
      </div>
  </div>
</body>

</html>